# Node.js
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env
.env.development
.env.production

# Example environment variables
!.env.dev.example
!.env.prod.example

# Misc
.DS_Store 
.vercel
